
.bxFaqs
	min-height 400px
	background #fff
	padding 50px 0px
	.bxTitles
		width 300px
		border-right 1px solid #ccc
		position relative
		span
			text-align right
			font-weight normal
			font-family 'Lato'
			font-size 18px
			padding 10px 40px
			cursor pointer
			margin 5px 0px
		.active
			position relative
			font-weight bold
			font-family 'Lato-Black'
		i
			height 41px
			width 9px
			background #fe3a36
			border-radius 5px
			position absolute
			top 0px
			right -4.5px
			z-index 1
	.bxTogles
		width 800px
		padding 0px 30px
		b
			font-size 24px
			font-family 'Lato-Black'
		display none
		.active
			display block
			position relative

.collapsible
	border none
	box-shadow none
	.bxCollapItem
		.collapsible-header
			position relative
			border-bottom none
			font-size 18px
			font-weight bold
			padding-bottom 0px
			.material-icons
				position absolute
				right 0px
				z-index 0
		.collapsible-body
			padding 1rem
		// 	padding-top 0px !important
		// 	padding-bottom 20px !important


.full
	width 100%
.none
	display none
.hide
	display none !important

.bwhite
	background #fff
.diezp
	width 10% !important
.veintep
	width 20% !important
.treintap
	width 30%
.cuarentap
	width 40% !important
.cuarentaycincop
	width 45%
.cincuentap
	width 50% !important
.sesentap
	width 60% !important
.sesentaycincop
	width 65% !important
.setentap
	width 70% !important
.setentaycincop
	width 75% !important
.ochentap
	width 80% !important
.noventap
	width 90% !important
.cienp
	width 100% !important
.pageCulqi-item-pdt
	padding 115px 0px
.tableResume
	border-bottom 2px solid #ccc
	padding 15px 0px
	border-bottom-style dashed
	margin-bottom 20px
	.tableResume-item
		width 50%
		p
			font-size 16px
			font-family 'Lato-Regular'
			margin 3px 0px
		&:nth-child(1)
			text-align left
		&:nth-child(2)
			text-align right
.boxResumenChk
	text-align center
	b
		text-align center
		font-size 18px
		font-family 'Lato-Bold'
		width 100%
		padding-bottom 6px
		border-bottom 1px solid #ccc
.boxResumenInfo
	b
		i
			color red
			margin-right 6px
	p
		font-family 'Lato-Regular'
		padding-left 10px
		border-left 2px solid #be0705
		margin 10px 0
		font-size 13px

.labelForm
	margin 15px 0px
	font-size 18px
	font-family 'Lato-Regular'
.miNegocio
	width 100%
.misClientes
	width 100%
.treintaytresp
	width 33.333333%
.title
	font-size 21px
	font-family 'Lato-Black'
	padding-top 0px
	margin 0px
	text-align center
.visible
	display block !important
.invisible
	display none !important
.linkTerminos
	font-size 14px
	span
		line-height 1.3 !important
		a
			color #ff0002
			&:hover
				text-decoration underline
.boxPorcentaje
	b
		font-size 29px !important
.flex-grow0
	flex-grow 0 !important
.imgIcoLite
	width 18px
	height 18px
.Imgico
	width 27px
	height 27px
.bxContratante
	width 100%
	padding 20px 0px
.boxPrice
	border 1px solid #ccc
	margin-top 20px
	border-radius 10px
	background #f9f8f8
	width 270px
	span
		border-bottom 1px solid #ccc
		padding 10px 0px
	.boxPriceCost
		padding 20px
		b
			font-size 44px
			font-family 'Lato-Black'
			color #81bb00
		p
			color #81bb00
.boxPasos
	width 100%
	height 55px
	margin-bottom 30px !important
	background #fff
	border-bottom 3px solid #d8d8d8
	margin-bottom -3px
.boxPasos-item
	img
		margin-right 10px
.bxinfNoCal
	position absolute
	top -22px
	left -27px
	width 300px
	height 135px
	border-radius 7px
	padding 15px
	background rgba(204,45,45,0.949) !important
	i
		color #fff
		font-size 40px !important
	span
		font-size 20px !important
		font-family 'Lato-Bold'
		text-align center !important
		width 100%
		color #fff
	p
		font-size 14px
		text-align center
		color #fff

.InfoOculto
	display none
    padding  10px
	background rgba(204,45,45,0.949)
.ps
	position absolute
	right -100px
	top 0px
.bxic
	position relative
.boxResultRUC
	padding 10px 0px
	.boxResultRUC-item
		position relative
		width 355px
		margin-bottom 15px
		border 1px solid #e8e8e8
		border-radius 8px
		background #fbfbfb
		cursor pointer
		.boxResultRUC-item-cal
			width 130px
			padding 0px
			border-right 1px solid #ccc
			img
				margin-bottom 5px
			span
				font-size 14px
		.boxResultRUC-item-detail
			padding 15px
			p
				font-size 12px
			.btnDrop
				margin 10px 10px 10px 0px
				display none
		&:hover
			.btnDrop
				display block
			.bxic
				.InfoOculto
					display block
.bannerBox
	width 1200px
	.bannerBox-text
		width 600px
	.bannerBox-img
		width 600px
		flex-grow 1
		img
			max-width 100%
			height 100%
			flex 0 0 0
.boxInfo
	padding 30px
	width 700px
	margin 20px
	background #e7f4f9
	border-radius 5px
	p
		max-width 500px
		text-align left
.ml20
	margin-left 20px
.mr20
	margin-right 20px
.mt20
	margin-top 20px !important
.mb20
	margin-bottom 20px	!important
.fs14
	font-size 13px !important
.fs22
	font-size 22px !important
.bold
	font-family 'Lato-bold' !important
.btnBrowser
	border-radius 0px 6px 6px 0px !important
	height 45px
	margin-left -3px
	z-index 10
	box-shadow none
	font-size 19px
	font-family 'Lato-black'
	padding 4px 19px !important
.boxAlert
	p
		padding-left 10px
		border-left 2px solid #be0705
		margin 10px 0px
		font-size 13px
.boxInfor
	p
		padding-left 10px
		margin 10px 0px
		font-size 13px
.boxThanku
	display block
	img
		max-width 400px
	.titleThanku
		font-size 30px
		font-family 'Lato-Bold'
		margin-bottom 10px
		text-align center
	span
		margin-bottom 20px
		text-align center
	p
		font-size 16px
		text-align center
.btnInput
	border-radius 6px 0px 0px 6px !important
.titleHelp
	font-size 17px
	color #81bb00
	margin-bottom 20px
	font-family 'Lato-Regular'
.boxRecomend
	width 280px
	border-radius 10px
	.boxRecomend-item
		height 200px
		img
			width 150px
			height 200px
		.boxRecomend-item-details
			padding 10px
			span
				font-size 14px
			p
				font-size 12px
			a
				font-size 14px
.select-wrapper .caret
	top 15px
	right 5px
	font-size 10px

[type="checkbox"]+span:not(.lever)
	font-size 0.84rem !important
	padding-left 26px !important
	margin-top 5px
[type="checkbox"].filled-in:checked+span:not(.lever):after
	border 2px solid #7eb308
	background-color #81bb00
.color-green
	color #81bb00 !important
.color-red
	color #f93e40
.titleImportant
	font-size 17px
	color #000
	margin-bottom 20px
	font-family 'Lato-Regular'
.boxCalc
	margin 20px 0px
.btnDrop
	display none
	color #fff
	background #f93e40
	border-radius 50%
	opacity 0.9
	width 25px !important
	height 25px !important
	line-height 1
	font-family 'Lato-black'
	font-size 15px
	position absolute
	right -5px
	top -5px
	cursor pointer
	border none !important
	&:hover
		background #be0705
.btn
	min-height 45px
.ppventa
	font-size 16px
.imgIcon
	width 80px
	height 80px
.imgIconWhy
	width 80px
	height 60px
.linkTerminos
	span
		a
			color #74a705
			font-family 'Lato-Black'
#comofunciona
	margin-top 0px !important
	padding-top 0px !important

.modalVideo
	width 275px
	height 470px !important
	background #000000
	border 10px solid #000
	border-radius 6px
.boxVideo
	margin 0 auto
.boxPorque
	width 100%
	padding-bottom 50px
	background #efeef4
	span
		font-size 2em
		color #4a4a4a
		text-shadow 1px 1px #ccc
		font-family 'Lato-Black'
		margin-top 35px

.boxCubrimos
	width 100% !important


.boxPqitem-item
	padding 30px 25px
	border-right 1px solid #ccc
	p
		margin-right 6px
		max-width 120px
		text-align left
		border-left 2.3px solid #83b915
		padding-left 4px
		font-family 'Lato-bold'

.boxPqitem
	margin-top 20px
	border-radius 10px
	padding 0px
	background #fff
	-webkit-box-shadow 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2)
    box-shadow 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2)


.textCobert
	margin-bottom 70px
.boxButtons
	.btn
		&:nth-child(0)
			margin-right 5px
.btn-video
	margin 0px 0px 0px 5px
.imgMob
	display none


.dropdown-content li>a, .dropdown-content li>span
	font-size 12	px
	color #4b4b4b
	display block
	text-transform capitalize
	line-height 22px
	padding 14px 16px

.btnSucces
	padding 15px 80px
	border-radius 3px
	background #84bd00
	color #ffffff
	font-size 15px
	font-family 'Lato-Black'
	border-style none !important
	cursor pointer
	text-align center
    max-height 50px
	&:focus
		outline none
		background-color #7aaf00 !important

button:focus
	outline none
	background-color #7aaf00

@media (min-width: 1000px)
	input
		min-width 230px
@media (max-width: 767px)
	.mb-justify-content-center
		-ms-flex-pack: center !important
		justify-content: center !important
	header
		margin-bottom 0px
	.mb-padding-0
		padding 0px !important
	.HomeBx
		height auto !important
	.bxContratante
		padding 0px
	.boxTrasnp span
		padding 0px 20px
	.input-field
		width 100%
	.boxPrice
		width 100% !important
		&:nth-child(1)
			margin-right 10px

	//FLEXBOX
	.mb-flex-wrap
		-ms-flex-wrap wrap !important
		flex-wrap wrap !important