*{
    margin: 0px;
    padding: 0px;    
    font-family: 'Lato' ;
	color: #4a4a4a;
}

.header-landing{
	margin: 0px;
}

.sidenav{
    display:none;
}

.btnSeemore{
	background: #FFFFFF;
}

.animado{
    animation-name: animado ;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.menu-item-web-btnmas{
    width: 100px;
}

.menu-item-web-link {
    height: 70px;
}

.section_home--landingpage{
    height: 100%;
    background: url(../images/home/homePonleCorazon.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-top: -115px;
}

.iframe-video-ponlecorazon{
    width: 100% !important;
    height: 400px !important;
    background: #FFF;
    padding: 0px;
    margin: 0px !important;
}

.modalVideo{
    margin-top: 80px !important;
    height: 400px !important;
}

.btn-cotizador-volver{
	display: block;
	display: inline-block;
	width: 70px;
}

.btn-cotizador-volver img {
	display: inline-block;
    vertical-align: middle;
}

.btn-cotizador-volver p {
	font-family: 'Lato-Regular';
    font-weight: normal;
    font-size: 14px;
	line-height: 1.3;
	display: inline-block;
    margin: 0px 5px 0px 5px;
	vertical-align: middle;
	color: #81bb00;
}

.menu-icon{
    color: #FFFFFF;
    margin: 0px;
}

#coberturas, #comofunciona, #comocomprar {
	padding: 90px 0px 0px 0px;
	background: #FFFFFF;
} 

#comocomprar{
    padding-bottom: 30px;
}

.texto-confirm-cuestionario{
	font-family: 'Lato';
	font-size: 12px;
	color: #9c9c9c;
	margin: 20px 0px 10px 0px;
}

.texto-valida-cuestionario{
	font-family: 'Lato';
	font-size: 14px;
	color : #FF0000;
	margin: 20px;
}

.ReactModal__Content{
    width: 70%;
    height: auto;
    margin: auto;
    margin-top: 10px;
}



/* Flexbox */
.d-flex{
    display:-ms-flexbox!important;
    display:flex!important
}
.flex-column{
    -ms-flex-direction:column!important;
    flex-direction:column!important
}
.flex-row-reverse{
    -ms-flex-direction:row-reverse!important;
    flex-direction:row-reverse!important
}
.flex-column-reverse{
    -ms-flex-direction:column-reverse!important;
    flex-direction:column-reverse!important
}
.flex-wrap{
    -ms-flex-wrap:wrap!important;
    flex-wrap:wrap!important
}
.flex-nowrap{
    -ms-flex-wrap:nowrap!important;
    flex-wrap:nowrap!important
}
.flex-wrap-reverse{
    -ms-flex-wrap:wrap-reverse!important;
    flex-wrap:wrap-reverse!important
}
.flex-fill{
    -ms-flex:1 1 auto!important;
    flex:1 1 auto!important
}
.flex-grow-0{
    -ms-flex-positive:0!important;
    flex-grow:0!important
}
.flex-grow-1{
    -ms-flex-positive:1!important;
    flex-grow:1!important
}
.flex-shrink-0{
    -ms-flex-negative:0!important;
    flex-shrink:0!important
}
.flex-shrink-1{
    -ms-flex-negative:1!important;
    flex-shrink:1!important
}
.justify-content-start{
    -ms-flex-pack:start!important;
    justify-content:flex-start!important
}
.justify-content-end{
    -ms-flex-pack:end!important;
    justify-content:flex-end!important
}
.justify-content-center{
    -ms-flex-pack:center!important;
    justify-content:center!important
}
.justify-content-between{
    -ms-flex-pack:justify!important;
    justify-content:space-between!important
}
.justify-content-around{
    -ms-flex-pack:distribute!important;
    justify-content:space-around!important
}
.align-items-start{
    -ms-flex-align:start!important;
    align-items:flex-start!important
}
.align-items-end{
    -ms-flex-align:end!important;
    align-items:flex-end!important
}
.align-items-center{
    -ms-flex-align:center!important;
    align-items:center!important
}
.align-items-baseline{
    -ms-flex-align:baseline!important;
    align-items:baseline!important
}
.align-items-stretch{
    -ms-flex-align:stretch!important;
    align-items:stretch!important
}
.align-content-start{
    -ms-flex-line-pack:start!important;
    align-content:flex-start!important
}
.align-content-end{
    -ms-flex-line-pack:end!important;
    align-content:flex-end!important
}
.align-content-center{
    -ms-flex-line-pack:center!important;
    align-content:center!important
}
.align-content-between{
    -ms-flex-line-pack:justify!important;
    align-content:space-between!important
}
.align-content-around{
    -ms-flex-line-pack:distribute!important;
    align-content:space-around!important
}
.align-content-stretch{
    -ms-flex-line-pack:stretch!important;
    align-content:stretch!important
}
.align-self-auto{
    -ms-flex-item-align:auto!important;
    align-self:auto!important
}
.align-self-start{
    -ms-flex-item-align:start!important;
    align-self:flex-start!important
}
.align-self-end{
    -ms-flex-item-align:end!important;
    align-self:flex-end!important
}
.align-self-center{
    -ms-flex-item-align:center!important;
    align-self:center!important
}
.align-self-baseline{
    -ms-flex-item-align:baseline!important;
    align-self:baseline!important
}
.align-self-stretch{
    -ms-flex-item-align:stretch!important;
    align-self:stretch!important
}

.menu-web-mas{
    display: none; 
    width: auto; 
    height: auto;
    top: 70px; 
    transform-origin: 0px 0px 0px; 
    opacity: 1; 
    transform: scaleX(1) scaleY(1);
}

.brand-logo{
    width: 20%;
    text-align: center;
}

.menu-lista-web{
    width: 70%;
}

.comofunciona, .comocomprar{
    display: block;
    height: auto;
}

.color-verde-btn,
.color-verde-btn:hover,
.color-verde-btn:focus{
    font-family: 'Lato';
    background: #31ca71;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 900;
}

.title{
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0px;
    font-size: 2em;
    color: #4a4a4a;
    line-height: 1;
    /* text-shadow: 1px 1px #ccc; */
    font-family: 'Lato';
}

.subtitle{
    font-size: 18px;
    padding-bottom: 20px;
}

/*FOOTER */
footer{
    background: #FFFFFF !important;
    border-top: 1px solid #cecece !important;
    padding: 40px 0px 0px 0px;    
}

.terminos-condiciones{
	padding: 10px;
}

.btnCerrarModal{
	position: absolute;
	right: 35px;
}

.terminos-condiciones h2 {
    color: red;
    border-bottom: 1px solid red;
    font-size: 18px;
	font-weight: 700;
	margin: 0px;
	padding: 10px 0px 15px 0px
}

.fancybox-footer{
	color: #FF0000;
	font-family: 'Lato';
}

.terminos-condiciones h3 {
	font-size: 14px;
    font-weight: 700;
}

.terminos-condiciones p {
	font-size: 14px;
	font-family: 'Lato';
	text-align: justify;
}

.lista_poliza{
    margin-left: 15px;
}

.ReactModalPortal{
	z-index: 9999999999999;
	position: absolute;
}

a{
	cursor: pointer
}

.footer-terminos_condiciones{
    padding: 0px 0px 40px 0px;
}

.footer-logo,
.footer-terminos_condiciones{
    text-align: center;
}

.footer-logo>img{
    width: 50%;
}


.footer-article{
	background: #4f4f4f;
	height: 210px;
    text-align: center;
    display: block;
    margin: 0px;
}


.article-uno,
.article-dos,.article-tres,
.article-cuatro,.article-cinco{
/* 	width: 19%; */
	display: inline-block;
	vertical-align: middle;
	margin-top: 30px
}

.article-uno{
    padding-right: 40px;
}

.article-dos{
    padding-left: 10px;
    border-left: 1px solid #FFF;
    padding-right: 20px;
}

.article-tres,.article-cuatro, .article-cinco{
	padding-left: 20px;
	padding-right: 20px;
}


.direccion{
	padding-top: 20px;
}

.direccion>p{
	font-family: 'Lato';
	line-height: 1.53;
	text-align: left;
    color: #ffffff;
    margin-bottom: 0px;
}

.footer-title{
  font-family: 'Lato';
  font-size: 15px;
  font-weight: 900;
  line-height: 1.53;
  text-align: left;
  color: #ffffff;  
   padding-bottom: 20px;
}

.footer-detail>p{
  font-family: 'Lato';
  font-size: 12px;
  line-height: 1.42;
  text-align: left;
  color: #ffffff;
  padding: 0px;
  margin: 0px;
}


.compartir{
	padding-top: 20px;
}

.mascara-tres{
    color: #4f4f4f !important;
    padding-top: 68px !important;
}

.footer-detail-app>img{
    display: block;
    padding-bottom: 10px;
}

.img-play{
	padding-bottom: 24px !important;
}


.lima, .provincia {
	display: inline-block;
	padding: 5px 0px;
}

.lima>p, .provincia>p{
	padding: 0px;
}

.lima {	
	margin-right: 50px;
}

.atencion{
	padding-bottom: 27px;
}

.contactos {
	border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
}


/*Ultimos cambios 22062018*/
.btnNoAction{
    background:#FFF !important;
    color:#8b8b8b !important;
    margin-right: 20px !important;
}
 
select > option{
	font-family: sans-serif;	
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #3a3838;
}

/*LOADING*/


#preloader {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    filter: alpha(opacity=85);
    z-index: 99999;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
}

#preloader .logo-loader {
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 70px;
    text-align: center;
    width: 70px;
    left: 50%;
    top: 50%;
    position: absolute;
    right: 50%;
    padding: 2px;
    margin: -40px 0 0 -38px
}

#preloader img {
    margin-top: 27px;
    width: 60px
}

#status {
    background-image: url(../images/loading/loader-digital.png);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-mask: radial-gradient(circle closest-side, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 84%, #000 86%, #000 100%) no-repeat 50% border;
    -webkit-animation: clockwise .5s linear infinite;
    -moz-animation: clockwise .5s linear infinite;
    -o-animation: clockwise .5s linear infinite;
    -ms-animation: clockwise .5s linear infinite;
    animation: clockwise .5s linear infinite;
    position: absolute;
    left: 49.78%;
    top: 49.5%;
    margin: -50px 0 0 -50px
}

@media screen and (max-width:840px) {
    #status {
        top: 49.5%;
        left: 49.2%
    }

    .iframe-video-ponlecorazon{
        width: 90% !important;
        margin: 80px 5% 0px 5% !important;
    }
}


@-moz-keyframes clockwise {
    to {
        -webkit-transform: rotate(360deg) translatez(0);
        -moz-transform: rotate(360deg) translatez(0);
        -o-transform: rotate(360deg) translatez(0);
        -ms-transform: rotate(360deg) translatez(0);
    	transform: rotate(360deg) translatez(0);
	}
}

@-webkit-keyframes clockwise {
    to {
        -webkit-transform: rotate(360deg) translatez(0);
        -moz-transform: rotate(360deg) translatez(0);
        -o-transform: rotate(360deg) translatez(0);
        -ms-transform: rotate(360deg) translatez(0);
        transform: rotate(360deg) translatez(0)
    }
}
@-o-keyframes clockwise {
    to {
        -webkit-transform: rotate(360deg) translatez(0);
        -moz-transform: rotate(360deg) translatez(0);
        -o-transform: rotate(360deg) translatez(0);
        -ms-transform: rotate(360deg) translatez(0);
        transform: rotate(360deg) translatez(0)
    }
}
@keyframes clockwise {
    to {
        -webkit-transform: rotate(360deg) translatez(0);
        -moz-transform: rotate(360deg) translatez(0);
        -o-transform: rotate(360deg) translatez(0);
        -ms-transform: rotate(360deg) translatez(0);
        transform: rotate(360deg) translatez(0)
    }
}

/*FOOTER */

@media only screen and (max-width:992px){
    nav .brand-logo{
        left: 70px;
        transform: none;
        -webkit-transform: none;
    }
    .sidenav{
        background: rgba(255, 0, 0, 1);
        display:block;
        margin-top: 70px;        
        border-top: 1px solid #FFFFFF;
    }
    .menu-web-mas{
        display: none !important;
    }
    .menu-item-web,.menu-item-mobile{
        text-align: center;
    }
    
    .sidenav li>a{
        color: #FFFFFF;
    }
    .footer-article{
        display: none;
    }
}

@media only screen and (max-width:962px){
	.btn-cotizador-volver{
        /* display: none; */
        margin-bottom: 10px;
	}
}

@media only screen and (max-width: 601px){
    .title{
        font-size: 25px;
        padding: 10px 10px;
    }
    
    .subtitle{
        font-size: 15px;
	}
	
	.ReactModal__Content{
		width: auto;
    }
    
    .modalError{
        width: 90% !important;
        left: 0px !important ;
    	right: 0px !important ;
    }
}


@media only screen and (max-width: 370px)
{
	.ReactModal__Content{
		width: auto;
		left: 10px !important ;
    	right: 10px !important ;
    }

    .modalError{
        width: 90% !important;
        left: 0px !important ;
    	right: 0px !important ;
    }
}

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }

  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    /* -webkit-font-feature-settings: 'liga'; */
    -webkit-font-smoothing: antialiased;
  }


  .input-check{
    position: absolute;
    top: calc(50% - 16px);
    right: 8px;

  }

  .input-check-select{
    position: relative;
    top: -33px;
    left: calc(100% - 38px);
  }

  .input-check-select-error{
    position: relative;
    top: -36px;
    left: calc(100% - 34px);
  }


  .input-check-error {
    /* color: #FFFFFF;
    background: red;
    border-radius: 50%;
    width:24px;
    height:24px; */
    top: calc(50% - 18px);
  }

  .div-contenedor-tipodoc{
      margin-bottom: 10px;
  }

  .input-contratante{
    position: relative;
    font-family: 'Lato';
    font-size: 15px;
    color: #3a3838 !important;
  }

  .label-input{
    font-family: 'Lato' !important;
    font-size: 13px !important;
    left: 10px !important;
    color : #888383 !important;
  }

  .input-checked-nrodoc{
      position: relative;
      vertical-align: middle;
      left: -25px;
  }

  .input-img-calendar{
    width: 22px;
    height: 21px;
    opacity: 0.5;
  }

  .modal-imagen {
    display: block;
    margin: 70px auto auto auto;
    width: 335px;
    height: 310px;
  }

.spanError{
    font-size: 13px;
    color: red;
    margin-bottom: 10px;
    font-family: 'Lato';
}

@media only screen and (max-width: 767px){
    .input-check-select{
        top: -42px;
    }
    .input-check-error{
        left: calc(100% - 33px);
    }
    .input-check-select-error{
        position: relative;
        top: -45px;
        left: calc(100% - 33px);
      }
}

@media only screen and (max-width: 676px){
	.modal-imagen {
        width: 90%;
    }
}


  .modal-procesa-compra{   
    visibility: visible;
    opacity: 1;
    background-color: rgba(0,0,0,.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: 999;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
   
  
/* fallback */

  
.material-icons { 
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    /* -webkit-font-feature-settings: 'liga'; */
    -webkit-font-smoothing: antialiased;
}

.btn-landing-comprar{
    background: #31ca71 !important;
    border-radius: 2px !important;
    text-transform: none;
    margin-top: 0px;
}

.btn-video{
    background: #FFFFFF !important;
    color: #FF0000 !important;
    margin: 10px 0px 0px 0px;
}

.btnDeslizarLanding{
    position: absolute;
    bottom: 0px;
    left: calc(50% - 40px);
}

.btn-video:hover {
    background: #FF0000 !important;
    color: #FFFFFF !important;
}

.btn-landing-pasos {
    margin:0px 0px 0px 0px;
}

/*calendaar*/

.picker__date-display > div ,
.picker__date-display > div > div {
    color: #FFFFFF !important;
}

div.input-field{
    margin: 0px;
}

.modalError{
    position    : relative;
    top         : 35%;
    left        : 0px;
    right       : 0px;
    bottom      : 0px;  
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    text-align: center;
    width: 35%;
}

.modalError div {
    font-size: 1em;
    font-family: 'Lato';
    color: red;
    text-align: left;
    border-bottom: 1px solid red;
    margin-bottom: 10px;
}

.modalError p {
    text-align: left;
    font-family: 'Lato';
    font-size: 1em;
    color: #4a4a4a;
    margin-bottom: 10px;
}

.modalError button{
    border: 1px solid #FF0000;
    color: #FF0000;
    font-size: 0.8em;
}

/*pasos*/

.container-pasos{
    background: #fff;
    text-align: center;
}

.item-paso{
    border-bottom: 3px solid #c1c1c1;
    display: inline-block;
    font-size: 18px;
    padding: 0px 30px 10px 30px;
    font-family: 'Lato-Bold';
    cursor: pointer;
    color: #c1c1c1;
    margin-bottom: -3px;
}

.item-paso-verde{
    border-bottom: 3px solid #84bd00;
    color: #84bd00;
    opacity: 1 !important;
}


/*IMG FORM CULQI TIPO TARJETA*/
.not-type-card {
    border: 0px !important;
    width: 0px;
    height: 0px;
}

.type-card {
    width: 200px;
    height: 43px;
    right: 10px;
    position: absolute;
    top: 0px;    
    border: 0px !important;
}

.dinners {
    background: url(../images/iconos/diners_icono.png) no-repeat;
    background-position-x: 90%;
    background-position-y: 10px;
}
.amex {
    background: url(../images/iconos/amex_icono.png) no-repeat;
    background-position-x: 90%;
    background-position-y: 10px;
}
.mastercard {
    background: url(../images/iconos/mastercard_icono.png) no-repeat;
    background-position-x: 90%;
    background-position-y: 10px;
}
.visa {
    background: url(../images/iconos/visa_icono.png) no-repeat;
    background-position-x: 90%;
    background-position-y: 10px;
}

.title-page-ctz{
    font-family: 'Lato';
    font-size: 16px;
    color: #4c4c4c;
    margin-bottom: 20px;
}

.p-condiciones-rimac{
    font-family: 'Lato' !important;
    font-size: 14px !important;
    line-height: 20px !important;
    padding-left: 25px !important;
    color: #8a8e8e;
}

.p-condiciones-rimac a {
    color: #FF0000;
}

.chk-condiciones-rimac{
    opacity: 1 !important;
    pointer-events: visible !important;
    width: 15px !important;
    height: 15px !important;
    margin-top: 5px !important;
}

.text-validacion-error{
    color: #FF0000;
    font-size: 14px;
    margin-top: 0px;
    position: absolute;
}

.tooltip-funciona-paso2, .tooltip-funciona-paso2 ul li{
    color: #FFF;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    text-align: justify;
    font-family: 'Lato';
    line-height: 1.2
}

.tooltip-funciona-paso2 ul {    
    margin-top : 5px;
}

.tooltip-funciona-paso2 ul li{
    margin-left: 5px;
    line-height: 1.3
}

.link-a-enlaces{
    font-family: 'Lato-Bold';
    color: #464646;
    text-decoration: underline;
    cursor: pointer;
}

select{
    display: block
}   