header , nav{
    background: #FF0000;
    height: 70px;
}
body {
    background: #f7f7f7;
}

nav {
    background: #FF0000;
    z-index: 5555;
    position: fixed;
}

span {
    font-family: 'Lato';
    font-size: 20px;
    line-height: 1.2
}

p {
    font-family: 'Lato-Regular';
    font-weight: normal;
    font-size: 14px;
    line-height: 1.3;
}

p b {
    font-weight: bold
}

hr {
    height: 1px;
    background-color: #dedede !important;
    border: none;
    margin: 25px 0
}


[type="radio"]:not(:checked)+span,
[type="radio"]:checked+span {
    padding-left: 25px
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
    font-size: 14px !important;
    border: 1px solid #d6d6d6;
    border-radius: 5px !important;
    padding: 0 20px !important;
    box-sizing: border-box !important
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border: 1px solid #81bb00
}

.ocultar {
    display: none;
}

.w10 {
    width: 10%
}

.w20 {
    width: 20%
}

.w30 {
    width: 30%
}

.w40 {
    width: 40%
}

.w50 {
    width: 50%
}

.w55 {
    width: 55%
}

.w60 {
    width: 60%
}

.w70 {
    width: 70%
}

.w80 {
    width: 80%
}

.w90 {
    width: 90%
}

.w100 {
    width: 100%
}

.mar-0-auto {
    margin: 0 auto
}

.text-center {
    text-align: center
}

.mar-b-10 {
    margin-bottom: 10px
}

.mar-b-20 {
    margin-bottom: 20px
}

.mar-b-30 {
    margin-bottom: 30px
}

.container-fluid {
    width: 948px
}

.container {
    width: 1200px;
    /* width: 75%; */
    display: -ms-flexbox !important;
    display: flex !important
}

.HomeBx {
    height: 650px;
    width: 100%;
    position: relative;
    margin-top: -55px;
    background: url(../images/iconos/spv/homeback.jpg);
    background-repeat: repeat-x;
    background-position: bottom left;
    background-size: 100%;
    
}

.TitleHomeBx {
    background: #b2b2b2;
    padding: 10px 25px;
}

.TitleHomeBx span {
    font-family: 'Lato';
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    text-shadow: 1px 1px 1px #868686
}

.BannerRutaHome {
    position: absolute;
    padding: 15px 25px;
    margin-top: 85px;
    font-size: 11px;
    font-family: 'Lato';
    color: #9b9b9b;
}

.BannerItemBx {
    padding: 15px 5px;
    max-width: 100%;
    height: 450px;
    left: 100px;
    margin-top: 190px;
}

.BannerItemBx h2, .BannerItemBx h2 span {
    line-height: 38px;
    height: auto;
    width: 100%;
    text-align: left;
    color: #4a4a4a;
    font-weight: 900;
    font-family: 'Lato-Black';
    font-size: 39px;
}

.BannerItemBx h2 span {
    color: red;
    display: block;
}

.BannerItemProduct {
    position: absolute;
    padding: 15px 25px;
    margin-top: 130px;
    font-size : 15px;
    font-family: 'Lato-Bold';
}

.BannerItemPricing{
    font-family: 'Lato';
    color: #4a4a4a;
    font-size: 16px;
    margin-bottom: 10px;    
}

.TitleBx {
    width: 100%;
    padding: 0 25px
}

.BannerBx {
    width: 100%;
    position: relative
}

.BannerBarBx {
    position: absolute;
    background: rgba(255, 255, 255, 0.522);
    padding: 15px 25px;
    width: 100%;
    bottom: 25px;
}

.BannerBarBx h3 {
    font-size: 2em;
    color: #3b3838;
    line-height: 0;
    font-family: 'Lato';
    font-weight: bold
}

.BannerBarBx span {
    font-family: 'Lato';
    font-weight: bold;
    color: #3b3838
}

.BannerImgBx {
    width: 100%;
    height: 565px;
    overflow: hidden;
}

.BannerImgBx img {
    width: 100%;
    flex-shrink: 0;
    margin-top: -14px;
}

.CoberturaBx {
    width: 100%;
}

.CoberturaBx .CoberturaBxItem {
    width: 800px;
    padding: 6px;
}

.CoberturaBx .CoberturaBxItem h4 {
    width: 100%;
    font-size: 2em;
    color: #4a4a4a;
    text-shadow: 1px 1px #ccc;
    line-height: 0;
    font-family: 'Lato';
    font-weight: bold;
    margin-bottom: 35px
}

.CoberturaBx .CoberturaBxItem div {
    width: 47%;
    padding: 0px;
    text-align: left;
    position: relative;
    margin: 15px 0;
    text-align: justify;
}

.CoberturaBx .CoberturaBxItem div img {
    width: 50px;
    margin-bottom: 20px;
    top: -70px
}

.CoberturaBx .CoberturaBxItem div p {
    margin: 0px 0px 10px;
    font-size: 14px;
    color: #4a4a4a;
    line-height: 1.3;
    font-family: 'Lato-Regular';
    width: 100%;
}

.CoberturaBx .CoberturaBxItem div b {  
    font-size: 14px;
    font-weight: 900;
    color: #4a4a4a;
    font-family: 'Lato-Regular';
    margin-top: 20px;
    width: 100%;
}

.CoberturaBx .CoberturaBxItem div span {
    font-size: 1.5em;
    color: #4a4a4a;
    line-height: 0;
    font-family: 'Lato';
    font-weight: bold;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center
}

.CoberturaBx .CoberturaBxItem .ccbxleft {
    border-right: 1px solid #ccc
}

.btnExc {    
    font-family: 'Lato';
    font-size: 14px;
    color: #31ca71;
    background: #fff;
    cursor: pointer;
    font-weight: bold;
    /* margin-left: calc(-50%); */
    display: block;
    text-decoration: underline;
}

.fecha-exc{
    height: auto !important;
    width: auto !important;
    position: relative !important;
    margin: 0px !important;
    padding: 0px !important;
    top: 0px !important;
    display: inline-block !important;
}

.mb-flex-column-row {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important
}

.section-cotizador{
    background: url(../images/cotizador/background-cotizador.jpeg);
    background-repeat: repeat-x;
    background-position: bottom left;
    padding-bottom: 50px;
}

.SectionPasosBx {
    width: 800px;
    /* margin-bottom: 20px; */
}

.SectionPasosBx div {
    width: 33%;
    min-height: 150px;
    z-index: 1;
}

.SectionPasosBx div p {
    width: 100%;
    padding: 0 25px 0 25px;
}

.SectionPasosLine{
    height: 1px;
    background: #cecece;
    display: block;
    position: relative;
    top: -128px;
    z-index: 0;
    width: 600px;
}

.SectionPasosFlechaL, .SectionPasosFlechaR{
    position: relative;
}

.SectionPasosFlechaL{
    width: 166px;
    top: -118px;
    left: -135px;
}

.SectionPasosFlechaR{
    width: 174px;
    top: -138px;
    left: 128px;
}

.SectionHomePastillaPrima{
    display: block;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    padding: 6px 16px;
    left: 66.3%;
    width: 205px;
    top: 55px;
    background: #FFFFFF;
    z-index: 999;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.SectionHomePastillaPrima div div p {
    display: block;
    text-align: center;
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
}

.SectionHomePastillaPrima div div p.pricing{
    color: #FF0000;
    font-size: 38px;
    font-weight: 900;
    font-family: 'Lato-Bold';
}

.SectionHomePastillaPrima p {
    text-align: center;
    font-family: 'Lato-Italic';
}

.link {
    font-size: 16px;
    font-family: 'Lato-bold';
    color: #81bb00;
    cursor: pointer;
}

.link i {
    color: #81bb00
}

.labelHolder {
    color: #9e9e9e;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    cursor: text;
    -webkit-transition: color .2s ease-out, -webkit-transform .2s ease-out;
    transition: color .2s ease-out, -webkit-transform .2s ease-out;
    transition: transform .2s ease-out, color .2s ease-out;
    transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    text-align: initial;
    -webkit-transform: translateY(12px);
    transform: translateY(12px)
}

    /* .active {
        -webkit-transform: translateY(-14px) scale(.8);
        -ms-transform: translateY(-14px) scale(.8);
        transform: translateY(-14px) scale(.8);
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0
    } */

.bxTextarea {
    border: 1px solid #d6d6d6 !important;
    border-radius: 5px !important;
    padding: 30px 20px
}

.rectangle {
    padding: 15px;
    border-radius: 2px;
    background-color: #fafafa;
    text-align: left;
}

.boxWhite {
    background: #fff;
    width: 100%;
    padding: 50px;
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2)
}

.bxTitle {
    font-size: 25px;
    margin-bottom: 15px;
    font-family: 'Lato-Regular' !important;
}

.bxTitle b {
    font-weight: bold;
    font-family: 'Lato-Bold'
}

.boxTrasnp {
    max-width: 520px;
    background: transparent;
    padding: 15px 30px 30px 0;
    margin-right: 50px;
}

.boxTrasnp img {
    width: 390px;
    margin: 15px 0
}

.boxTrasnp span {
    font-size: 35px;
    font-family: 'Lato-Black';
}

.boxTrasnp p {
    margin: 0px 0px 0px 0px;
}

.boxTrasnp .boxTrasnp-item img {
    width: 45px;
    margin-right: 10px
}

.bxform {
    width: 277px;
}

.bxform p {
    font-size: 20px;
    font-family: 'Lato-Regular';
    font-weight: normal;
    color: #6f6f6f;
    line-height: 1;
    margin-bottom: 25px
}

.bxform .btnAction {
    width: 100%
}

.bxContratante .boxWhite {
    width: auto
}

.bxInformativo .bxTitle {
    text-align: center
}

.bxInformativo .frmSubt {
    text-transform: uppercase;
    margin: 20px 0
}

.bxInformativo .bxInformativo-item .bxinfox {
    /* box-shadow: 0 16px 50px -20px rgba(0, 0, 0, 0.4); */
    border-radius: 10px;
    /* background: #fcfcfc; */
    width: 100%;
    padding: 3px 3px 20px 3px;
}

.bxInformativo .bxInformativo-item .bxinfox img {
    width: 292px;
    margin: 0 auto;
}

.bxInformativo .bxInformativo-item .bxinfox span {
    font-family: 'Lato-Light';
    font-size: 18px;
    padding: 0 10px;
    margin: 10px 0 5px 0
}

.bxInformativo .bxInformativo-item .bxinfox p {
    font-size: 15px;
    margin: 15px 0;
    text-align: justify;
    width: 371px;
}

.bxInformativo .bxInformativo-item .bxinfox a {
    font-size: 15px;
    color: #FFF;
    padding: 0 10px;
    margin: auto;
    font-family: 'Lato-Bold';
    cursor: pointer;
    height: 50px;
    width: 200px;
    background: rgb(216, 46, 46);
    border-radius: 2px;
    text-align: center;
    padding-top: 13px;
    
}

.bxInformativo .bxInformativo-item .bxinfox a i {
    vertical-align: bottom;
    color: #FFF;
    font-size: 20px;
}

.frmSubt {
    font-size: 14px;
    font-family: 'Lato-Bold';
    margin-bottom: 10px;
    width: 100%
}

.bxResumen-onlymobile{
    display: none;
}

.bxResume .bxResume-item .bxResume-items:nth-child(1) {
    padding: 0 50px 0 0 !important;
}

.bxResume .bxResume-item .bxResume-items:nth-child(1) div {
    margin-right: 10px;
    max-height: 50px;
}

.bxResume .bxResume-item .bxResume-items:nth-child(1) div:nth-child(2) {
    width: 100%;
}

.bxResume .bxResume-item .bxResume-items:nth-child(1) div:nth-child(2) label {
    margin-right: 30px
}

.bxResume .bxResume-item .bxResume-items:nth-child(1) div:nth-child(3) {
    width: 100%;
}

.bxResume .bxResume-item .bxResume-items:nth-child(1) div:nth-child(3) input {
    width: 40%
}

.bxResume .bxResume-item .bxResume-items:nth-child(1) div:nth-child(4) {
    width: 30%;
    -ms-flex-positive: 3 !important;
    flex-grow: 3 !important
}

.bxResume .bxResume-item .bxResume-items:nth-child(1) div:nth-child(5) {
    width: 30%;
    -ms-flex-positive: 3 !important;
    flex-grow: 3 !important
}

.bxResume .bxResume-item .bxResume-items:nth-child(1) div:nth-child(6) {
    width: 30%;
    margin-right: 0;
    -ms-flex-positive: 3 !important;
    flex-grow: 3 !important
}

.bxResume .bxResume-item .bxResume-items:nth-child(1) div:nth-child(7) {
    width: 30%
}

.bxResume .bxResume-item .bxResume-items:nth-child(1) div:nth-child(8) {
    width: 40%
}

.bxResume .bxResume-item .bxResume-items:nth-child(1) div:nth-child(9) {
    width: 40%
}

.bxResume .bxResume-item .bxResume-items:nth-child(1) div:nth-child(10) {
    width: 40%;
    margin-right: 0;
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important
}

.bxResume .bxResume-item .bxResume-items:nth-child(1) div:nth-child(11) {
    width: 30%;
    -ms-flex-positive: 3 !important;
    flex-grow: 3 !important
}

.bxResume .bxResume-item .bxResume-items:nth-child(1) div:nth-child(12) {
    width: 30%;
    -ms-flex-positive: 3 !important;
    flex-grow: 3 !important
}

.bxResume .bxResume-item .bxResume-items:nth-child(1) div:nth-child(13) {
    width: 30%;
    margin-right: 0;
    -ms-flex-positive: 3 !important;
    flex-grow: 3 !important
}

.bxResume .bxResume-item .bxResume-items:nth-child(1) div:nth-child(14) {
    width: 100%;
    margin-right: 0
}

.bxResume .bxResume-item .bxResume-items:nth-child(2){
    width: 100%;
}

.bxChekout {
    max-width: 269px;
    width: 269px;
    padding: 20px;
    background: #fcfcfc;
    -webkit-box-shadow: 1px 8px 16px 1px #e0e0e0;
    box-shadow: 1px 8px 16px 1px #e0e0e0;
    margin-bottom: 30px;
}

.bxChekout .bxPrice {
    color: #81bb00;
    font-size: 30px;
    font-family: 'Lato-Bold';
    margin-bottom: 30px;
}

.bxChekout .bxPrice i {
    color: #81bb00;
    font-family: 'Lato-Bold';
    font-size: 18px;
    font-style: normal
}

.bxChekout .btnAction {
    width: 100%;
    border-radius: 5px
}

.bxChekout img {
    width: 100%;
    flex-shrink: 0
}

.bxChekout p {
    font-size: 13px;
    line-height: 1.3
}

.bxChekout b {
    margin: 10px 0
}

.bxInfo {
    position: relative;
    border: 1px solid #e62440;
    border-radius: 10px;
    padding: 15px;
    margin: 20px 0;
}

.bxInfo .bxInfo-item span {
    font-family: 'Lato-Bold';
    color: #e62440;
    font-size: 14px;
    margin-bottom: 10px
}

.bxInfo .bxInfo-item p {
    width: calc(100% - 90px);
    font-size: 15px;
    border-left: 2px solid #e62440;
    padding-left: 10px;
    font-family: 'Lato-Regular';
}

.bxInfo .bxInfo-item p b {
    font-family: 'Lato-Regular';
    font-size: 15px
}

.bxInfo img {
    width: 88px;
    position: absolute;
    bottom: 0;
    right: -10px
}

.infoSubt {
    font-family: 'Lato-Light';
    font-size: 20px
}

.bxPagoPrima .bxTitle {
    width: 70%;
    text-align: center;
    margin: auto
}

.bxPagoPrima .infoSubt {
    margin: 20px 0
}

.bxPagoPrima .bx2btn {
    width: 38%;
    margin-bottom: 25px;
}

.bxPagoPrima .bx2btn button {
    text-transform: capitalize
}

.bxSecure {
    padding: 0 10px;
}

.bxSecure .bxSecure-item {
    margin-bottom: 15px;
}

.bxSecure .bxSecure-item img {
    width: 24px;
    margin-right: 10px
}

.bxSecure .bxSecure-item p {
    font-size: 12px;
    color: #a9a9a9
}

.bxSecure p {
    font-size: 12px;
    color: #a9a9a9;
    text-align: justify
}

.bxCancelaCtz .bxTitle {
    width: 70%;
    text-align: center;
    margin: auto
}

.bxCancelaCtz .btnAction {
    width: 30%
}

.bxCancelaCtz .bxTextarea {
    margin: 30px 0;
    width: 50%
}

.frmQuestion .btnAction {
    width: auto
}

.frmQuestion .bxQuestion {
    position: relative;
    margin-bottom: 10px;
    border: 2px solid #e8e8e8;
    background: #fcfcfc;
    padding: 5px 15px;
    align-items: center;
}

.frmQuestion .bxQuestion p {
    font-size: 15px;
    flex-grow: 1
}

.frmQuestion .bxQuestion .bxQuestion-item {
    margin: -5px 0;
    padding: 15px 0;
    border-left: 1px solid #ccc;
}

.frmQuestion .bxQuestion .bxQuestion-item label {
    margin: 0 15px 0 10px
}

.btnAction {
    background: #81bb00;
    padding: 0 40px !important;
    border-radius: 5px;
    height: 40px;
    font-weight: bold;
    font-family: 'Lato-Bold';
    letter-spacing: -0.04px;
}

.btnAction:hover {
    background: #74a705
}

.btnAction:focus {
    background-color: #9adc07
}

.btnCancel {
    background: #fff;
    border: 1px solid #c2c2c2;
    color: #8b8b8b;
    padding: 0 40px !important;
    border-radius: 5px;
    height: 40px;
    font-weight: bold;
    font-family: 'Lato-Bold';
}

.btnCancel:hover {
    background: #f3f3f3
}

.btnCancel:focus {
    background-color: #fff
}

.pageCulqi div:nth-child(1) {
    width: 100%
}

.formCulqi {
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    max-width: 332px;
}

.formCulqi div {
    border-bottom: 1px solid #d9d9d9;
    position: relative;
}

.formCulqi div:nth-child(1) {
    width: 100%
}

.formCulqi div:nth-child(2) {
    width: 50%;
    border-right: 1px solid #d9d9d9
}

.formCulqi div:nth-child(3) {
    width: 50%
}

.formCulqi div:nth-child(4) {
    width: 50%;
    border-right: 1px solid #d9d9d9
}

.formCulqi div:nth-child(5) {
    width: 50%
}

.formCulqi div:nth-child(6) {
    width: 100%;
    border-bottom: 0
}

.formCulqi div input {
    margin: 0 !important;
    padding-left: 10px !important;
    color: #737373
}

.formCulqi div input::placeholder {
    color: #737373
}

.formCulqi div i {
    margin-left: 10px;
    color: #737373
}

.inputCulqi {
    border: none !important;
    border-radius: 0 !important;
}

.inputCulqi:focus {
    border: none !important
}

.flex-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
    -ms-flex-grow: 1 !important;
}

.flex-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
    -ms-flex-shrink: 0 !important;
}

@media (max-width:767px) {
    .container-pasos{
        height: 80px;
        margin-top: -20px;
    }
    .item-paso{
        font-size: 11px !important;
    }
    .boxPrice .boxPriceCost{
        padding: 15px !important;
    }
    .boxPrice .boxPriceCost b{
        font-size: 28px !important;
    }
    .mb-noventap{
        width: 70% !important;
    }
    .boxWhite{
        margin-bottom: 20px;
    }
    .ml20{
        margin-left: 0px !important;
    }
    .bannerBox-img img{
        width: 100% !important;
    }
    .mb-justify-content-center{
        -ms-flex-pack: center !important;
		justify-content: center !important;
    }
    header {
        margin-bottom: 0
    }
    .HomeBx {
        height: 100vh;
        background: url(../images/home/homePonleCorazonMobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        /* background-position: 50%; */
        position: relative;
        margin-top: -90px;
    }
    .BannerItemProduct, .BannerRutaHome{
        left: 0px;
    }
    .BannerItemProduct{
        top: -20px;
        font-size: 1em;
        width: 100%;
        text-align: center;
    }

    .container-fluid {
        width: 100%;
        padding: 10px
    }
    .container {
        width: 100%;
        padding: 10px;
        /* -ms-flex-direction: column !important;
        flex-direction: column !important */
    }
    .mb-full {
        width: 100% !important;
        max-width: 100% !important
    }
    .mb-flex-column {
        -ms-flex-direction: column !important;
        flex-direction: column !important
    }
    .d-flex-landing{
        display:-ms-flexbox!important;
        display:flex!important
    }
    .mb-align-items-center {
        -ms-flex-align: center !important;
        align-items: center !important
    }
    .boxTrasnp {
        background: transparent;
        padding-top: 0;
        margin-right: 0;
        padding: 0;
    }
    .boxTrasnp span {
        font-size: 20px;
        text-align: center
    }
    .boxWhite {
        padding: 25px;
    }
    .bxTitle {
        font-size: 20px;
        font-family: 'Lato-Regular';
        text-align: center
    }
    .infoSubt {
        font-size: 15px;
        font-family: 'Lato-Light';
    }
    .frmQuestion .btnAction {
        width: 100%
    }
    .frmQuestion .bxQuestion {
        position: relative;
        margin-bottom: 10px;
        border: 2px solid #e8e8e8;
        background: #fcfcfc;
        padding: 5px 15px;
        align-items: center;
    }
    .frmQuestion .bxQuestion p {
        font-size: 14px;
        -ms-flex-positive: 1 !important;
        flex-grow: 1 !important;
        line-height: 1.3;
        margin: 5px 0
    }
    .frmQuestion .bxQuestion .bxQuestion-item {
        margin: 5px 0 0 0;
        padding: 15px 0 5px 0;
        border-left: none;
        border-top: 1px solid #ccc;
        width: 100%;
    }
    .frmQuestion .bxQuestion .bxQuestion-item label {
        margin: 0px 15px 0px 10px
    }

    .bxResumen-onlymobile{
        display: block;
    }

    .bxResume .bxResume-item .bxResume-items:nth-child(1) {
        padding: 0px !important;
    }

    .bxResume .bxResume-item .bxResume-items:nth-child(1) div {
        margin : 0px;
    }

    .bxResume .bxResume-item .bxResume-items:nth-child(1) div:nth-child(3),
    .bxResume .bxResume-item .bxResume-items:nth-child(1) div:nth-child(3) input,
    .bxResume .bxResume-item .bxResume-items:nth-child(1) div:nth-child(4) input,
    .bxResume .bxResume-item .bxResume-items:nth-child(1) div:nth-child(5) input,
    .bxResume .bxResume-item .bxResume-items:nth-child(1) div:nth-child(6) input,
    .bxResume .bxResume-item .bxResume-items:nth-child(1) div:nth-child(7) select,
    .bxResume .bxResume-item .bxResume-items:nth-child(1) div:nth-child(8) input {
        width: 100% !important
    }
    .bxResume .bxResume-item .bxResume-items:nth-child(1) div:nth-child(7) select,
    .bxResume .bxResume-item .bxResume-items:nth-child(1) div:nth-child(11) select,
    .bxResume .bxResume-item .bxResume-items:nth-child(1) div:nth-child(12) select,
    .bxResume .bxResume-item .bxResume-items:nth-child(1) div:nth-child(13) select{
        margin-bottom: 10px;
    }
    .input-checked-nrodoc{
        vertical-align:middle;
        position: absolute;
        right: 8px;
        left: initial;
    }
    .bxResume .bxResume-item .bxResume-items .div {
        margin-right: 0 !important
    }
    .bxResume .bxResume-item .bxInput {
        width: 100% !important;
        max-width: 100% !important
    }
    .btn {
        padding: 0 25px !important
    }
    .bxform {
        width: 100%
    }
    .TitleHomeBx,
    span {
        font-size: 1.3em
    }
    .BannerItemBx {
        position: relative;
        width: 100%;
        max-width: 100%;
        padding: 0 25px 15px 25px;
        height: auto;
        left: 0;
        top: -50px;
    }
    .btn-landing-comprar--home{
        margin-top: 0%;
    }
    .btnDeslizarLanding{
        bottom: -30px;
    }
    #coberturas, #comofunciona, #comocomprar {
        padding: 40px 0px 50px 0px !important;
        background: #FFFFFF;
    } 
    #comocomprar{
        padding-bottom: 30px;
    }
    .BannerItemBx h2, .BannerItemBx h2 span {
        font-size: 1.4em;
        text-align: center;
        display: inline-block;
        line-height: 1;
        font-family: 'Lato-Bold';
        width: auto;
    }
    .BannerItemPricing{
        text-align: center;
    }
    .BannerImgBx {
        position: relative;
        height: auto
    }
    .BannerBarBx {
        position: relative;
        padding: 15px 20px;
    }
    .BannerBarBx h3 {
        font-size: 1.1em
    }
    .BannerBarBx span {
        font-size: .9em
    }
    .btnSeemore {
        width: 100%;
        background: #fff !important;
    }
    .btnSeemore img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #ee1c24;
        border: 2px solid #fff
    }
    .CoberturaBx {
        width: 100%;
    }
    .CoberturaBx .CoberturaBxItem {
        width: 100%;
        padding: 6px;
    }
    .CoberturaBx .CoberturaBxItem h4 {
        width: 100%;
        font-size: 2em;
        color: #4a4a4a;
        line-height: 1;
        margin-bottom: 0
    }
    .CoberturaBx .CoberturaBxItem div {
        width: 100%;
    }
    .CoberturaBx .CoberturaBxItem div img {
        width: 50px;
        position: relative;
        top: 0
    }
    .CoberturaBx .CoberturaBxItem .ccbxleft {
        border-right: none
    }
    .pageCulqi .pageCulqi-item:nth-child(1) {
        order: 0
    }
    .pageCulqi .pageCulqi-item:nth-child(2) {
        order: 2
    }
    .pageCulqi .pageCulqi-item:nth-child(3) {
        order: 1
    }
    .section-cotizador{
        padding: 20px 0px;
    }
    .SectionPasosBx {
        width: 100%;
        padding: 0 15px;
    }
    .SectionPasosBx div {
        width: 100%;
        min-height: auto;
        margin: 0px 0px 15px 0px;
    }
    .SectionPasosBx div p {
        width: auto !important;
        flex-grow: 1;
        padding-left: 20px;
        text-align: left
    }

    .SectionPasosLine{
        display: none
    }

    .SectionPasosFlechaL, .SectionPasosFlechaR{
       display: none;
    }
    .SectionHomePastillaPrima{
        display: none;
    }
    
    .bxInformativo .bxInformativo-item .bxinfox img , .bxInformativo .bxInformativo-item .bxinfox p {
        width: 100%;
    }

    .bxResume .bxResume-item .bxResume-items:nth-child(2){
        width: 100%;
        margin-top: 25px;
    }
}